[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "submodules/ERC725"]
	path = submodules/ERC725
	url = https://github.com/ERC725Alliance/ERC725.git
